<!-- LLAMADO DE RECURSOS -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
  crossorigin="anonymous">
<ion-footer>
  <div class="container">
    <hr>
    <div class="text-center center-block">
      <p class="txt-railway">Contactanos</p>

      <a href=""><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      <a href=""><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      <a href=""><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
      <a href=""><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
    </div>
    <hr>
  </div>
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://ionicframework.com/docs/"> ionic.com</a>
  </div>
</ion-footer>