<ion-content>
  <p>IONIC</p>
  <!-- <ion-button color="secondary" [routerLink]="['/alert']">
    Alert
  </ion-button>
  <ion-button color="secondary" [routerLink]="['/action-sheet']">
    Action-sheet
  </ion-button>
  <ion-list>
    <ion-item>
      <ion-label routerLink= "/alert">Alert</ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink= "/action-sheet">Accion-sheet</ion-label>
    </ion-item>
  </ion-list> -->
  <ion-item *ngFor="let componente of componentes" [routerLink]= "componente.redirectTo">
    <ion-icon slot= "start" [name]="componente.icon"></ion-icon>
    <ion-label>{{componente.name}}</ion-label>
  </ion-item>

</ion-content>
<app-footer></app-footer>