<app-header [title]="titulo || 'Alert Page'"></app-header>
<ion-content>
  <ion-button color="primary" expand= "full" (click)="presentAlert()">
    Show Action
  </ion-button>
</ion-content>
<app-footer></app-footer>