<app-header title="Action-Sheet"></app-header>
<ion-content>
  <h5>Action-Sheet</h5>
  <ion-button color="primary" expand= "full" (click)="presentActionSheet()">
    Show Action
  </ion-button>
</ion-content>
<app-footer></app-footer>